* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    box-sizing: border-box;
}

body {
    background-color: #F3F5FC;
}

header img {
    margin-top: 20px;
    margin-left: 40px;
}

.main {
    display: flex;
    margin-left: 140px;
    margin-bottom: 50px;
}

.container {
    margin-bottom: 130px;
}

.input-texto {
    width: 650px;
    height: 150px;
    margin-top: 30px;
    padding: 10px;
    color: #0A3871;
    background-color: #F3F5FC;
    border: none;
    outline: none;
}

::-webkit-input-placeholder {
    color: #0A3871;
    font-size: 22px;
}   
.mensagem {
    height: 77vh;
    text-align: center;
    margin-top: -60px;
    margin-left: 80px;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.1);
}

.bg-img {
    display: block;
    background-image: url(img/menino.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 260px 240px;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.btn {
    width: 280px;
    height: 50px;
    font-size: 16px;
    border-radius: 12px;
}
.btn_criptar {
    background-color: #0A3871;
    color: #FFF;
    border: 1px solid #0A3871;
    margin-right: 15px;
}

.btn_descriptar {
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    margin-left: 15px;
}

.btn_copy_input {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #F3F5FC;
}

.btn_copy_output {
    margin-top: 10px;
    margin-left: 140px;
    background-color: #0A3871;
    color: #F3F5FC;
    border: none;
}

.copy_input {
    margin-left: 600px;
}

.copy_output {
    width: 300px;
    height: 40px;
}

.aviso img{
    margin-right: 5px;
    float: left;
}

.aviso h6 {
    font-size: 12px;
    color: #495057;
}
